<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hack For Gov</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main>
        <h1>Welcome to My Website</h1> 
        <form method='post'>
            <label for="myfile">Select a file:</label>
            <input type="file" id="myfile" name="myfile">
        </form>
        <span
  class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-sm text-purple-700"
>
  Live
</span>
        <a href="#" class="group block">
            <div class="relative h-[350px] sm:h-[450px]">
              <img
                src="https://images.unsplash.com/photo-1592921870789-04563d55041c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                alt=""
                class="absolute inset-0 h-full w-full object-cover opacity-100 group-hover:opacity-0"
              />
                
              <img
                src="https://images.unsplash.com/photo-1594385208974-2e75f8d7bb48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                alt=""
                class="absolute inset-0 h-full w-full object-cover opacity-0 group-hover:opacity-100"
              />
            </div>
          
            <div class="mt-3">
              <h3
                class="text-sm text-gray-700 group-hover:underline group-hover:underline-offset-4"
              >
                Small Headphones
              </h3>
          
    </main>
  </body>
</html>